<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= user.full_name %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= user.uid %>
  </p>

  <p>
    <strong>Avatar url:</strong>
    <%= user.avatar_url %>
  </p>

</div>
