
<h1>Users</h1>

<div class="actions">
  <%= link_to "New user", new_management_user_path, class: "action-button" %>
  <%= link_to "Membership Requests", management_membership_requests_path, class: "action-button" %>

  <%= form_with url: management_users_path, method: :get, local: true, class: "inline-form" do %>
    <label>
      <%= check_box_tag :include_all, "true", @include_all, onchange: "this.form.submit();" %>
      Show all users (including pending/unassigned)
    </label>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.roles.pluck(:name).join(", ") %></td>
        <td>
          <%= link_to "Show", [:management, user] %>
          <%= link_to "Edit", edit_management_user_path(user) %>
          <%= link_to "Delete", confirm_delete_management_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>