<div class="recurring-excusal-form">
  <h1>Request Recurring Excusal</h1>
  
  <%= form_with model: @recurring_excusal, local: true do |f| %>
    
    <!-- Reason Section -->
    <div class="form-section">
      <%= f.label :reason %>
      <%= f.text_area :reason, rows: 2 %>
    </div>

    <!-- Days of the Week Section -->
    <div class="form-section">
      <%= f.label :recurring_days, "Days of the Week" %>
      <div class="days-flex">
        <% Date::DAYNAMES.each_with_index do |day, index| %>
          <div class="day-checkbox-wrapper">
            <%= check_box_tag "recurring_excusal[recurring_days][]", index, @recurring_excusal.recurring_days&.include?(index), id: "day_#{index}" %>
            <%= label_tag "day_#{index}", day %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Time Range Section -->
    <div class="form-section">
      <h3>Time Range</h3>
      
      <div class="time-picker-row">
        <%= f.label :recurring_start_time, "Start Time" %>
        <div>
          <%= f.time_select :recurring_start_time, 
              ignore_date: true, 
              minute_step: 1,
              ampm: true %>
        </div>
      </div>

      <div class="time-picker-row">
        <%= f.label :recurring_end_time, "End Time" %>
        <div>
          <%= f.time_select :recurring_end_time, 
              ignore_date: true,
              minute_step: 1,
              ampm: true %>
        </div>
      </div>
    </div>

    <!-- Form Actions -->
    <div class="form-actions">
      <%= f.submit "Request Recurring Excusal", class: "btn-primary" %>
      <%= link_to "Back to Events", events_path, class: "btn-secondary" %>
    </div>
    
  <% end %>
</div>