<h1>Request Excusal</h1>

<%= form_with model: @excusal_request, local: true do |form| %>

  <% if @excusal_request.errors.any? %>
    <div style="color: red;">
      <h4><%= pluralize(@excusal_request.errors.count, "error") %> prevented the form from submitting:</h4>
      <ul>
        <% @excusal_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :event_id, "Event" %><br>
    <%= form.collection_select :event_id, Event.all, :id, :title, include_blank: "Select Event" %>
  </div>

  <div>
    <%= form.label :reason %><br>
    <%= form.text_area :reason, rows: 5 %>
  </div>

  <div>
    <%= form.submit "Send Excusal Request" %>
  </div>
<% end %>
