<h1>All Discipline Records</h1>

<%= link_to 'New Record', new_admin_discipline_record_path, class: "button" %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Given By</th>
      <th>Points</th>
      <th>Reason</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @discipline_records.each do |record| %>
      <tr>
        <td><%= record.user.full_name %></td>
        <td><%= record.given_by.full_name %></td>
        <td><%= record.points %></td>
        <td><%= truncate(record.reason, length: 50) %></td>
        <td><%= record.created_at.to_date %></td>
        <td>
          <%= link_to 'Show', admin_discipline_record_path(record) %>
          <%= link_to 'Edit', edit_admin_discipline_record_path(record) %>
          <%= link_to 'Delete', admin_discipline_record_path(record),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
