<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
  <html>
    <head>
      <title><%= content_for(:title) || "Veterans App" %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
    <style>
      .flash__alert { color: red; }
      .flash__notice { color: blue; }
      .flash__success { color: green; }
    </style>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="banner">
      <%= image_tag "choral_activities_banner.png", alt: "Choral Activities Banner" %>
    </div>
    
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, class: "sign-out" %>
    <% end %>
    
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end -%>
    <% end %>
    <%= yield %>
  </body>
</html>